section {
	padding: 5rem 0;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

hr {
	width: 25%;
	margin:auto;
	opacity: 0.5;
}

.subtitle {
	color: var(--green);
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 1.5rem;
	position: relative;
}