/* Variables */
:root {
	/* couleurs */
	--dark-green: #40513B;
	--green: #609966;
	--light-green: #9DC08B;
	--very-light-green: #EDF1D6;

	--white-color: #ffffff;
	--black-color: #000000;

	/* fonts */
	--title-font: 'Libre Baskerville', serif;
	--text-font: 'Montserrat', sans-serif;

	/* fonts size */
	--global-font-size: 16px;
	--title-font-size: ;

	/* Line height */
	--global-line-height: 1.5;

	--wrapper-width: 1280px;
	--grid-gap: 2.5rem;
}

.title {
	font-family: var(--title-font);
}

.section {
	padding: 5rem 0;
}

.mb-2 {
	margin-bottom: 2rem !important;
}

.mb-3 {
	margin-bottom: 3rem !important;
}

.btn {
	display: block;
	text-transform: uppercase;
	padding: 1.25rem;
	font-weight: 600;
	letter-spacing: 2px;
	font-family: var(--text-font);
	text-align: center;
	transition: all 200ms ease-in-out;
	cursor: pointer;
}

.btn-white {
	background-color: transparent;
	color:var(--white-color);
	border: 3px solid var(--white-color);
}

.btn-white:hover {
	background-color: var(--white-color);
	color: var(--black-color);
}

.btn-green {
	background-color: var(--green);
	color:var(--white-color);
}

.btn-green:hover {
	background-color: var(--dark-green)
}

h1 {
	font-family: 'Libre Baskerville', serif;
}

p, li, a {
	font-family: var(--text-font);
	font-weight: 600;
}

.text-align-center {
	text-align: center;
}

.df-flex-end {
	display: flex;
	flex-direction:column;
	justify-content: flex-end;
}

.full-height {
	height: 100vh;
}

.row {
	width: var(--wrapper-width);
	margin: 0 auto;
	z-index: 5;
	position: relative;
}

.row-grid {
	display: grid;
	gap: var(--grid-gap);
}

.row-grid-3-50 {
	grid-template-columns: 1fr 1fr;
}

.row-grid-2-66-33 {
	grid-template-columns: 2fr 1fr;
}

/* HEADER */
header {
	padding: 1.25rem;
	display: flex;
	justify-content:space-between;
	align-items: center;
	width: 100%;
	z-index: 10;
	background-color: var(--dark-green);
}

.header__icon a {
	font-weight: 900;
	color: var(--white-color);
	letter-spacing: 1px;
	font-family: var(--title-font);
}

header nav ul {
	display: flex;
	justify-content: flex-end;
}

header nav ul li {
	padding: 0 1.25rem;
}

header nav ul li a {
	color: var(--white-color);
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 200ms ease-in-out;
}

header nav ul li a:hover {
	color: var(--green);
}





/* FOOTER */
footer {
	padding: 5rem 0;
	background-color: var(--dark-green);
}

.footer__icon {
	display: flex;
	justify-content: center;
}

.footer__icon a {
	font-family: var(--title-font);
	color: var(--white-color);
	font-size: 3rem;
	font-weight: 900;
}

.footer__social-icon ul {
	display: flex;
	justify-content: center;
}

.footer__social-icon ul li {
	margin: 0 1.25rem;
}

.footer__social-icon ul li i {
	margin-right: 0.5rem;
}

.footer__social-icon ul li a {
	color: var(--white-color);
	vertical-align: middle;
	transition: all 200ms ease-in-out;
}

.footer__social-icon ul li a:hover {
	color: var(--dark-color);
}

.footer__copyright {
	color: var(--white-color);
	text-align: center;
}