/* Variables */
:root {
	/* colors */
	--dark-green: #40513B;
	--green: #609966;
	--light-green: #9DC08B;
	--very-light-green: #EDF1D6;

	--white-color: #ffffff;
	--black-color: #000000;

	/* fonts */
	--title-font: ;
	--text-font: ;

	/* fonts size */
	--global-font-size: 16px;
	--title-font-size: ;

	/* Line height */
	--global-line-height: 1.5;

	--wrapper-width: 80%;
}